<% if notice%>
<p id = "notice"><%= notice%></p>	
<%end%>

<h1> Welcome to Online Test</h1>
<h4>By Mai Trung Nghia</h4>
<p>
	Online assessment is used primarily to measure cognitive abilities, 
	demonstrating what has been learned after a particular educational event has occurred, 
	such as the end of an instructional unit or chapter. When assessing practical abilities or 
	to demonstrate learning that has occurred over a longer period of time an online portfolio (or ePortfolio)
	 is often used. The first element that must be prepared when teaching an online course is assessment.
	Assessment is used to determine if learning is happening, to what extent and if changes need to be made.
</p>
<p>
	Independent Work
	Independent work is work that a students prepares to assist the instructor in determining their learning progress.
	Some examples are: exercises, papers, portfolios, and exams (multiple choice, true false, short answer, fill in the blank,
	 open ended/essay or matching). To truly evaluate, an instructor must use multiple methods.
	Most students will not complete assignments unless there is an assessment (i.e. motivation). 
	It is the instructors role to catalyze student motivation. Appropriate feedback is the key to assessment, 
	whether or not the assessement is graded.
</p>
<p>
	Migrations are a convenient way for you to alter your database in a structured and organized manner. 
	You could edit fragments of SQL by hand but you would then be responsible for telling other developers 
	that they need to go and run them. You’d also have to keep track of which changes need to be run against
	 the production machines next time you deploy.
	 Active Record tracks which migrations have already been run so all you have to do is update your source 
	 and run rake db:migrate. Active Record will work out which migrations should be run. It will also update
	  your db/schema.rb file to match the structure of your database.
</p>
